{% extends "base.html" %}


{%block title%}Add Brand{%endblock%}


{%load static%}
{% block css1%}
<link rel="stylesheet" href="{% static 'css/bootstrap-5.3.2-dist/css/bootstrap.css'%}">
<link rel="stylesheet" href="{% static 'css/bootstrap-5.3.2-dist/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{%static 'css/formAdmin.css'%}">
    
{%endblock%} 

{%block content%}

{% include "items/nav.html" %} 


<div class="content-admin-form" style='margin-top:140px'>
    <h1>Add Brand</h1>
    <form method='POST' action='.' enctype='multipart/form-data'>
        {% csrf_token%}
        <div class="descripe-product">
            <div class="mb-3">
                <label for="ProductName" class="form-label">Brand Name</label>
                {{add_brand.name}}
            </div>
        </div>
        <div class="mb-3">
            <label for="ProductImage" class="form-label">Brand Image</label>
            {{add_brand.image}}
        </div>

        <button type="submit" class="btn btn-primary center">Submit</button>
    </form>
</div>
{%endblock%}
